.container {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: stretch;
    min-height: 100vh;
    width: 100%;
    max-width: 1440px;
  }
  
  .texto {
    width: auto;
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
  
  .texto h1 {
    font-size: 35px;
    font-weight: 900;
    margin-bottom: 15px;
    line-height: 120%;
    color: #FFFFFF;
  }
  
  .texto h2 {
    font-size: 25px;
    width: 100%;
    max-width: 500px;
    font-weight: 400;
    line-height: 120%;
    color: #FFFFFF;
  }
  
  .formulario{
    width: auto;
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    }

  .campos {
    background-color: #FFFFFF;
    width: 100%;
    min-width: 380px;
    height: auto;
    /* border: 1px solid gray; */
    border-radius: 8px;
    padding: 20px;
    justify-content: space-between;
    align-items: space-between;
  }
  
  .campos .campo{
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 10px;
  }
  
  .campos .campo.mensagem{
    width: 100%;
    height: 120px;
    text-align: start;
  }
  
  .btn-enviar {
    cursor: pointer;
    width: 100%;
    height: 42px;
    background-color: #3CCC87;
    border-radius: 10px;
    align-items: center;
    margin-top: 25px;
  }
  
  .btn-enviar p{
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    padding: 12px;
    color: #FFFFFF;
  }
  
  .aviso{
    color: red;
    font-size: 8px;
    position: absolute;
    margin-top: -15px;
  }
  
  .aviso.oculto{
    opacity: 0;
  }
  
  .tudoOk {
    border-color: green !important;
  }
  
  .nadaOk {
    border-color: red !important;
  }
  
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .formulario {
      margin-left: 0;
      margin-top: 50px;
    }
  }
  